<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WineryExportWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WswineryclassSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:3998/Wswinery/Wswinery.asmx"
                binding="basicHttpBinding" bindingConfiguration="WswineryclassSoap"
                contract="WsWinery.WswineryclassSoap" name="WswineryclassSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <WineryExportWS.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Partitaiva" serializeAs="String">
                <value />
            </setting>
            <setting name="CodiceAzienda" serializeAs="String">
                <value />
            </setting>
            <setting name="CartellaFileExport" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondiIntervallo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IndirizzoWS" serializeAs="String">
                <value>http://127.0.0.1:3998/Wswinery/Wswinery.asmx</value>
            </setting>
            <setting name="AbilitaEsportazione" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StringaConnessione" serializeAs="String">
                <value>Persist Security Info=False;User ID=admin;Initial Catalog=ContabileMiglianico;Data Source=EVINTEST\SQL2014
</value>
            </setting>
        </WineryExportWS.Properties.Settings>
    </userSettings>
</configuration>